body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(wyllay\ image.jpg);
    background-image: contain;
    background-size: cover;
    color: white;
    
}
p {
    font-size: 1.2em;
    line-height: 1.6;
}
.list {
    list-style-type: none;
}
footer {
    background-color:black;
    color: #fff;
    padding: 1em;
    text-align: center;
}
a {
    color: #fff;
    text-decoration: none;
}
.navbar {
    background-color: green;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius:0px;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: rgb(125, 156, 30);
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}
.sidenavbar{
    background-color: green;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    display: ;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    border-radius: 0px;
    z-index: 1;
    float: left;
}